<div ng-app="app">
	<nav ng-controller="NavCtrl">
		<section id="nav-bar">
			<a class="nav" href="#" ui-sref-active="active" ui-sref="home"><span>Home</span></a>
			<a class="nav" href="#" ui-sref-active="active" ui-sref="login"><span>Login</span></a>
			<a class="nav" href="#" ui-sref-active="active" ui-sref="register"><span>Register</span></a>
			<a class="nav" href="#" ui-sref-active="active" ui-sref="createAssign"><span>Create Assignment</span></a>
			<a class="nav" href="#" ui-sref-active="active" ui-sref="dashboard"><span>Dashboard</span></a>
			<a class="nav" href="#" ng-click="logout()"><span>Logout</span></a>
		</section>
	</nav>
	<main ui-view></main>
</div>