
// *********************
// *     HOMEPAGE      *
// *********************

body {
	font-size:1em;
	background-color: rgb(241, 241, 241);
}

h1 {
	text-align: center;
	font-size: 4em;
	color: black;
}
#nav-bar {
	background-color: gray;
	text-decoration: none;
	height: 50px;
	vertical-align: middle;
}
.nav {
	margin: 1em 2em;
}



// *********************
// *       LOGIN       *
// *********************

.form {
	width: 300px;
	display: block;
	text-align: left;
	background-color: gray;
	border-radius: 5px;
	padding: 2em;
	margin: 3% auto;



}
.input {
	padding: 0.5em;
	margin-left: 2em;
	margin: 1em;
}
.anchor {
	
}
.button {
	font-size: 1em;
	margin: 0.5em;
	border-radius: 10px;
	background-color: rgb(36,181,209);
}

#dashboard-table {

}
